{% extends "base.html" %}
{% block start %}
<link href="/static/address.css" rel="stylesheet">
<center>
<form method="post" action="/add_address">

    <form>
      <div>
        <label for="name">House No. & Name</label>
        <input required type="text" id="name" name="name" autocomplete="name" enterkeyhint="next">
      </div>
      <div>
        <label for="street-address">Street address</label>
        <input type="text" id="street-address" name="street-address" autocomplete="street-address" required enterkeyhint="next">
      </div>
      <div>
        <label for="postal-code">ZIP or postal code (optional)</label>
        <input class="postal-code" id="postal-code" name="postal-code" autocomplete="postal-code" enterkeyhint="next">
      </div>
      <div>
        <label for="city">City</label>
        <input required type="text" id="city" name="city" autocomplete="address-level2" enterkeyhint="next">
      </div>
      <div>
        <label for="country">Country or region</label>
        <select id="country" name="country" autocomplete="country" enterkeyhint="done" required>
            <option></option>
            <option value="AF">Afghanistan</option>
            <option value="AS">American Samoa</option>
            <option value="BE">Belgium</option>
            <option value="KH">Cambodia</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="EG">Egypt</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="MV">Maldives</option>
            <option value="KR">South Korea</option>
            <option value="TR">Turkey</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Save address</button>
    </form>


</form>
</center>
{% endblock %}